@charset "utf-8";
body {
	background-image: url("img/MainBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	font-size: 30px;
	line-height: 32px;
	color: #36547a;
	border-bottom-color: #b7b7b7;
	margin-bottom: 30px;
}


.h1__icon1,
.h1__icon2,
.h1__icon3,
.h1__icon4 {
  position: relative;
  padding: 10px 0 20px 60px;
  margin: 40px 0;
}

.h1__icon1::before,
.h1__icon2::before,
.h1__icon3::before,
.h1__icon4::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(40% - 25px);
  width: 50px;
  height: 50px;
  bottom: -2px;
}

.h1__icon1::before {
  background: url("/Documents/WET5/PL/img/Covid-Icons.png") top right no-repeat;
  background-size: cover;
}

.h1__icon2::before {
  background: url("/Documents/WET5/PL/img/Prudential-Icons.png") top right no-repeat;
  background-size: cover;
}

.h1__icon3::before {
  background: url("/Documents/WET5/PL/img/Risk-Icons.png") top right no-repeat;
  background-size: cover;
}

.h1__icon4::before {
  background: url("/Documents/WET5/PL/img/Corporate-Icons.png") top right no-repeat;
  background-size: cover;
}



.h1__title {
	font-family: Arial;
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	border-bottom-style: none;
	color: black;
}

.h1__title a,
.h1__title a:focus,
.h1__title a:visited,
.h1__title a:hover,
.h1__title a:active {
	color: #336699;
	text-decoration: none;
}

h2 {
	font-size: 26px;
	line-height: 26px;
	color: #596e91;
	border-bottom-color: #b7b7b7;
	margin: 30px 0px;
}

h3 {
	font-size: 22px;
	line-height: 22px;
	color: #596e91;
	margin: 30px 0px;
}

h4 {
	font-size: 21px;
	line-height: 21px;
	color: #6c88b7;
	margin: 15px 0px;
}

h5 {
	font-size: 20px;
	line-height: 20px;
	color: #666666;
	font-style: italic;
	margin: 15px 0px;
}

h6 {
	font-size: 18px;
	line-height: 18px;
	color: #666666;
}

h7 {
	font-size: 14px;
	line-height: 15px;
	color: #6c88b7;
}

h8 {
	font-size: 13px;
	line-height: 15px;
	color: #666666;
}

.white-container {
	background-color: white;
}

.leftnav {
	top: 0px;
}

.leftnav ul {
	color: #282962;
}

.leftnav ul li {
	padding: 13px;
	background-color: #ededed;
	border-bottom: 3px #f9f9f9 solid;
	line-height: 2.05em;
}

.leftnav ul li a {
	text-decoration: none;
}

.img--blue {
	width: 100%;
}

.figparent {
	display: inline-block;
}

.osfi-footer-menu {
	background-color: white;
}

.osfi-footer-menu-container {
	margin: 0 auto;
	display: flex;
}

.osfi-item {
	text-align: center;
	flex: 1 0 auto;
	border-right: 1px solid #b7b7b7;
}

.osfi-item:first-of-type {
	border-left: 1px solid #b7b7b7;
}

.osfi-item:hover {
	background-color: #d9e0eb;
}

.osfi-item a {
	color: #282962;
	text-decoration: none !important;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 10px 0;
	transition: 0.5s;
	align-items: center;
	justify-content: center;
}

.osfi-footer-top-border {
	border-top: 20px solid #596e91;
}

.container--relative {
	position: relative;
	margin-left: 50px;
	margin-top: 80px;
	margin-bottom: 50px;
}

.img--right {
	float: right;
	margin: 15px 0px 15px 30px;
}

.img--left {
	float: left;
	margin: 15px 30px 15px -15px;
}

.img__container--360 {
	position: relative;
	max-width: 360px;
	min-width: 288px;
	margin-left: auto;
	margin-right: auto;
}

#iconmenu {
	float: none;
	clear: both;
	position: relative;
	background-color: white;
}

.iconmenu-header,
.iconmenu-header:focus,
.iconmenu-header:visited,
.iconmenu-header:hover,
.iconmenu-header:active {
	text-decoration: none;
}

.iconmenu-header div {
	font-family: Arial;
	font-weight: 500;
	border-bottom-style: none;
	color: #336699;
}

#nav-contain {
	background-color: white;
	width: 100%;
	z-index: 9999;
	top: 0;
	border-bottom: 1px solid #ccc;
}

#nav-contain::after {
	box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
	content: "";
	height: 5px;
	position: absolute;
	width: 100%;
}

.affix {
	max-width: 720px !important;
}

#main-nav {
	padding-left: 0px;
}

#main-nav i.fa-times {
	text-decoration: none;
	display: none;
}

#main-nav #main-nav-list {
	padding: 0;
}


#main-nav #main-nav-list li {
	display: flex;
}

#main-nav #main-nav-list li a {
	padding: 1.25rem 0.8rem;
	text-decoration: none;
}

#toggle {
	position: absolute;
	top: 4px;
	right: 20px;
	color: #545456;
}

@media only screen and (max-width: 768px) {
	.img--left,
	.img--right {
		margin-left: 0;
		margin-right: 0;
		overflow-x: auto;
	}
	
	.img--xs-center{
		margin-left:auto;
		margin-right:auto;	
	}
}

@media only screen and (min-width: 768px) {
		#main-nav {
		width: auto;
		padding-left: 5px;
	}
}


@media only screen and (max-width: 991px) {
	.img--right, .img--left {
		float: none;
		margin: 0px 0px 30px 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#iconmenu {
		display: block;
	}
	#main-nav #nav-logo .top {
		font-size: 30px;
	}
	#main-nav.open #main-nav-list {
		background-color: #d8d8d8;
		right: 0;
		z-index: 3;
		position: absolute;
		display: block;
	}
	#main-nav.open #main-nav-list li a {
		text-transform: none;
		width: 100%;
		text-align: left;
		border-bottom: 1px solid rgba(4, 4, 4, 0.16);
		color: black;
		padding-right: 20px;
	}
	#main-nav.open #main-nav-list li:hover {
		background-color: #efeeee;
	}
	#main-nav #main-nav-list {
		display: none;
	}
	#toggle {
		display: inline-block;
	}
	#toggle i {
		font-size: 2em;
		line-height: 40px;
	}
	
	.img--sm-center{
		margin-left:auto;
		margin-right:auto;	
	}

	.dsb-offset {
		position: relative;
	}
}

@media only screen and (min-width: 992px) {
	#iconmenu {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {

	.dsb-offset {
		position: absolute;
		top: 390px;
		left: -390px;
	}
}

.block360x110__icon1::before{
	content:"";
	position:relative;
	display:block;
	background: url("/Documents/WET5/PL/img/DSB-100-100px.png") no-repeat;
	width:100px;
	height:100px;
	float:left;
	margin-right:15px;
}

.articlebox-lg{
	height: 160px;
	margin-top: 0px;
}

.articlebox-lg__full{
	width: 750px;
}

.articlebox-lg__xs{
	width: 360px;
}

.articlebox-lg a{
	text-decoration: none;
}

.articlebox-lg a p{
	padding-left: 15px;
	line-height: 1;
}

.articlebox-lg__full a p{
	padding-top: 50px;
}

.articlebox-lg__xs a p{
	padding-top: 40px;
}

.articlebox-lg__full-background{
	background: url("/Documents/WET5/PL/img/Box-01-750px-160px-Covid-Text.jpg") no-repeat;
	background-size: contain;
}

.articlebox-lg__xs-background{
	background: url("/Documents/WET5/PL/img/Box-01-360px-160px-Covid-mobile.jpg") no-repeat;
}

.articlebox-lg__full-font
{
	font-family: Segoe UI;
	font-size: 30px;
	color: white;
	font-weight: bold;
}

.articlebox-lg__xs-font
{
	font-family: Segoe UI;
	font-size: 24px;
	color: white;
	font-weight: bold;
}

.articlebox-md{
	height: 330px;
	width: 360px;
}

.articlebox-md a{
	text-decoration: none;
}

.articlebox-md a p{
	padding-top: 50px;
	padding-left: 15px;
	line-height: 1;
}

.articlebox-md__background1{
	background: url("/Documents/WET5/PL/img/Box-02-360px-330px-Prudential-policy-Text.jpg") no-repeat;
}

.articlebox-md__background2{
	background: url("/Documents/WET5/PL/img/Box-03-360px-150px-Risk-Support-Text.jpg") no-repeat;
}

.articlebox-md__background3{
	background: url("/Documents/WET5/PL/img/Box-03-360px-150px-CorpoServ-Text.jpg") no-repeat;
}

.articlebox-sm{
	position:relative;
	width: 360px;
}
.articlebox-sm a{
	text-decoration: none;
}

.articlebox-sm a p{
	height: 100px;
	width: 360px;
	line-height: 1;
}

.articlebox-sm a p span{
	font-family: Segoe UI;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 30px;
}

.articlebox-sm__background1{
	background-color: #666666;
}

.articlebox-sm__adjust-text-left
{
	left: -10px;
}

.articlebox-sm__font-white
{
	color: white;
}

.article-full-link
{
	height: 100%;
	width: 100%;
}

.quotebox
{
	background-color: #cccccc;
	padding: 25px;
	margin: 5px 10px;
	box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.57);
}


